<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Send Ether</title>
</head>

<body>

    <section>
        <img src="/resources/1.png" data-speed="2" class="layer" id="eth1">
        <img src="/resources/2.png" data-speed="7" class="layer" id="eth2">
        <img src="/resources/3.png" data-speed="2" class="layer" id="polygon">
        <img src="/resources/4.png" data-speed="-5" class="layer" id="rvn">
        <img src="/resources/5.png" data-speed="5" class="layer" id="bnc">

        <div data-speed="-1" class="layer">

        <form class="form2" action="/" method="POST">
            <h1>Transaction Details: </h1>
            <br>

            <p>Transaction Hash:<br><%= txhash %>
            </p>

            <p>From Address:<br><%= saddress %>
            </p>

            <p>To Address:<br><%= address1 %>,<br> <%= address2 %>
            </p>

            <p>Amount: <%= amt %>
            </p>

            <p>Gas Used: <%= gasUsed %> wei
            </p>

        </form>

        </div>

    </section>

    <script src="/scripts/parallax.js" type="text/javascript"></script>
   


</body>

</html>